.boxShadow {
  -webkit-box-shadow: 0px 0px 300px 72px rgba(133, 111, 111, 0.9);
  -moz-box-shadow: 0px 0px 300px 72px rgba(133, 111, 111, 0.9);
  box-shadow: 0px 0px 300px 72px rgba(133, 111, 111, 0.9);
}
.hireMeButton {
  transition: all;
  transition-duration: 400ms;
}
.hireMeButton:hover {
  -webkit-box-shadow: 0px 0px 73px 29px rgba(133, 111, 111, 0.9);
  -moz-box-shadow: 0px 0px 73px 29px rgba(133, 111, 111, 0.9);
  box-shadow: 0px 0px 73px 29px rgba(133, 111, 111, 0.9);
}
.ImgBox{
  border-radius: 65px;
  background: linear-gradient(145deg, #4e4e4e, #767474);
  box-shadow: 24px 24px 49px #747474, -24px -24px 49px #403e3e;
}

.imgBoxImg {
  border-radius: 65px;
}
